/* PINEDA, ANGEL RAPHAELLE S. | WD 201 | PHP INTRO ACT Started: Nov 28 | Finished: Nov 29 */
/*This desgin is my mock up figma website from IntroWeb */
/*some codes are from our previous activities and projects as well but they are modified to fit the theme i created*/

/*=====HEADER=====*/
/*screen layout size to be improved*/
header {
    background-color: #ffffff;
    width: 100%;
    color: white;
    padding: 10px 20px; 
    align-items: center;
    display: flex;
}

.logo {
  height: 150px; 
  width: auto;  
}

.Line-separator {
  border-left: 2px solid #f488a6; 
  height: 100px; 
  margin-left: 15px; 
  margin-right: 25px;
}

nav a {
  color: #f488a6;
  font-size: 16px;
  margin-right: 20px; 
}

nav a:last-child {
  margin-right: 0;
}

/*Researched this online and modified its width, height, colors, bg size to completely imitate my mock up design*/
.checkerboard {
  width: 100%; 
  height: 45px;
  background: repeating-conic-gradient(
    #ffd1e0 0% 25%, 
    #9da58b 25% 50%, 
    #ffd1e0 50% 75%, 
    #9da58b 75% 100% 
  );
  background-size: 30px 30px; 
}

/*=====PRESS-ON NAILS SECTION=====*/
html .pressons {
    background-image: linear-gradient(to right, #fff9f9 , #f5dfdf);
}
/*Referenced our past IntroWeb Lab Case Study for this containers*/
.pressons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

/*Size and layout to be improved*/
.box {
    background-image: linear-gradient(to bottom, #f5dfdf , #dbe9b0); /*Referenced our DWEB-Lyric-Activity*/
    flex: 1 1 calc(25% - 20px);
    border-radius: 1em;
    padding: 100px;
    text-align: center;
    color: #f488a6;
}

.container {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 50px;
  border: 2px solid #f488a6;
  box-sizing: border-box;
  text-align: center;      
}
.container img {
  width: 300px;             
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;      
}

/*=====ABOUT SECTION=====*/
html .about {
    background-image: linear-gradient(to right, #f5dfdf , #dbe9b0);
}
.about {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 100px;
}

.about img{
    float: right;
    margin-right: 20px; 
    margin-left: 30px; 
    margin-bottom: 20px;
    max-width: 400px; 
    height: auto;

}
.about-content{
    align-content: center;
}

.about-content h1{
    margin-top: 0; 
    margin-bottom: 15px; 
    font-size: 2.5em;
    color: #8296d3;
}

.about-content p{
   font-size: 1.5em;
   line-height: 1.6;
   color: #8296d3;
}

/*=====APPOINTMENT SECTION=====*/
html .appointment {
    background-image: linear-gradient(to right, #f5dfdf , #dbe9b0);
}

.appointment{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.appointment-content{
    align-content: center;
    margin-top: 0; 
    margin-bottom: 15px; 
    color: #8296d3;
}

.appointment-content p{
   font-size: 1.5em;
   line-height: 1.6;
   color: #8296d3;
}

/*=====FEEDBACK SECTION=====*/
html .feedback {
    background-image: linear-gradient(to right, #f5dfdf , #dbe9b0);
}

.feedback{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.feedback-content{
    align-content: center;
    margin-top: 0; 
    margin-bottom: 15px; 
    color: #8296d3;
}

.feedback-content p{
   font-size: 1.5em;
   line-height: 1.6;
   color: #8296d3;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #f488a6;
  color: #8296d3;
}

fieldset:last-of-type {
  border-bottom: none;
}

textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  color: #8296d3;
}

label {
  display: block;
  margin: 0.5rem 0;
}

/*=====FOOTER=====*/
footer {
    border-top: solid #f488a6 2px;
    text-align: center;
    color: grey;
    background-color: #ffffff;
}
